<a href="https://colab.research.google.com/github/alisolanki/TensorFlow-Start/blob/master/Linear_Regression_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear Regression Model
  Note: To use the model, start by running from the first line of code to loading of the DataSet. After that hack your way through to get desired outputs.

In [0]:
!pip install -q sklearn

# Imports

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

# DataSet
  The following is a dataset with the data of people on board the **Titanic**. Given this training dataset we will be predicting if a person will survive or not.

In [0]:
# Load dataset.
train = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv') # training data
test = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv') # testing data
y_train = train.pop('survived')
y_test = test.pop('survived')

# Learning about at the DataSet
## Training DataSet
  Let's have a look at our Training DataSet based on which the model will be trained to make predictions.
  
  To look at the data we'll use the `.head()` method from pandas.This will show us the first 5 items in or dataframe.

In [14]:
test.head()

      sex   age  n_siblings_spouses  parch  ...   class     deck  embark_town alone
0    male  35.0                   0      0  ...   Third  unknown  Southampton     y
1    male  54.0                   0      0  ...   First        E  Southampton     y
2  female  58.0                   0      0  ...   First        C  Southampton     y
3  female  55.0                   0      0  ...  Second  unknown  Southampton     y
4    male  34.0                   0      0  ...  Second        D  Southampton     y

[5 rows x 9 columns]

For statistical analysis of the data `.describe()` is used.

In [0]:
train.describe()

Further `.shape()` will tell us more about the number of entries and features of the dataset.

In [0]:
train.shape()

The output is of the form: *(entries, features)*.

## Testing DataSet
  Let's have a look at our testing dataset for which the model will make some predictions.

In [15]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

  Here the first column contains the indices whereas the second column contains **0: Not Survived and 1: Survived**.